<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand py-0" routerLink="/">
      <img src="icons/logo.png" alt="Eastbound DMC" height="50">
    </a>
    
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-center" [class.show]="isMenuOpen()" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="isMenuOpen.set(false)">Home</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/about-us" routerLinkActive="active" (click)="isMenuOpen.set(false)">About Us</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/destinations" routerLinkActive="active" (click)="isMenuOpen.set(false)">Destinations</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/tours" routerLinkActive="active" (click)="isMenuOpen.set(false)">Tours</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/tailor-made" routerLinkActive="active" (click)="isMenuOpen.set(false)">Tailor Made</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/blog" routerLinkActive="active" (click)="isMenuOpen.set(false)">Blog</a></li>
        <li class="nav-item"><a class="nav-link text-dark fw-medium px-2" routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen.set(false)">Contact</a></li>
      </ul>
      
 
    </div>

    <div class="d-none d-lg-block">
      <button class="btn btn-lotus rounded-pill px-4 py-2 fw-bold text-white" routerLink="/contact">
        Get a Free Quote  <i class="fa-solid fa-arrow-right ms-2"></i>
      </button>
    </div>


  </div>
</nav>