
@use 'variables' as *;

.nav-link {
  font-family: $font-body;
  transition: color 0.3s ease;
  &:hover, &.active {
    color: #b22222 !important; 
  }
}
.navbar-brand {
  
  display: flex;
  align-items: center;
  
  .icon {
    height: 50px;         
    width: auto;          
    object-fit: contain;   
    

    @media (max-width: 768px) {
      height: 45px;       
      width: auto;
    }
  }
}

.btn-lotus {
  background-color: #b22222;
  font-family: $font-body;
  font-size: 0.9rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-primary-navy;
    transform: translateY(-2px);
  }
}